

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
h2 {
    text-transform: uppercase;
}

.navbar-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  /*margin-top: 20px;*/
  margin-bottom: -90px;
}

.hero-unit {
  padding: 0px 60px 100px 60px;
  background-color: #ffce00;
}

div.sonidero-main {
  background-color: #ffce00;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  padding: 10px;
}

div.sonidero span6{
  padding: 10px;
}

div.nongaude{
  background-color: #ffce00;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  padding: 10px;
}